pkgbase = aocl-crypto
	pkgdesc = AOCL-Cryptography is a library consisting of cryptographic optimized functions for Zen.
	pkgver = 5.0
	pkgrel = 1
	url = https://github.com/amd/aocl-crypto
	arch = x86_64
	makedepends = cmake
	makedepends = ninja
	makedepends = gcc
	makedepends = clang
	makedepends = lsb-release
	depends = aocl-utils
	options = staticlibs
	source = aocl-crypto.tar.gz::https://github.com/amd/aocl-crypto/archive/refs/tags/5.0.tar.gz
	source = out.patch
	sha256sums = b15e609943f9977e13f2d5839195bb7411c843839a09f0ad47f78f57e8821c23
	sha256sums = 3e7f0c0c7ef22223ec3039dcf5b42f201d028ca6a326d7600f0458329f1b4cad

pkgname = aocl-crypto
